<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


	<!-- this is over beans -->
	
	<!-- using p schema -->
	<bean class="com.springcore.Student" name="student3" p:studentId="567" p:studentName="mahin" p:studentAddress="Deoria"/>
	
	<bean class="com.springcore.Student" name="student1">
		<property name="studentId" value="1223" />

		<property name="studentName" value="khan rehan" />

		<property name="studentAddress" value="Basti" />


	</bean>
	<!-- Second beans -->
<bean class="com.springcore.Student" name="student2">
		<property name="studentId" value="1223" />

		<property name="studentName" value="mohd rehan" />

		<property name="studentAddress" value="deoria" />


	</bean>

</beans>